/* storage/css/app.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
    overflow: visible;
    overflow-y: scroll;
}

html {
    text-rendering: optimizeLegibility;
}

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: rgb(23, 23, 23);
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    position: relative;
    width: 80%;
    height: 90%;

    border-radius: 20px;
    overflow: visible;
    box-shadow: 0px 10px 25px -8px#000;
}

header::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("img/money-heist-.jpg") no-repeat center center/cover;
    opacity: 0.6;
    z-index: -1;
}

header::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, transparent, #000);

    z-index: -1;
}

header video {
    position: absolute;
    width: 104%;
    height: 99%;
    top: -40;
    transform: scale(1.8);
    z-index: -1;
}

header nav {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
}

header nav .logo_ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav .logo_ul img {
    display: flex;
    width: 150px;
    margin-bottom: -5px;
}

header nav .logo_ul ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

header nav .logo_ul li {
    padding: 3px 18px;
}

header nav .logo_ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    align-items: center;
    justify-items: center;
    transition: 0.3s hover linear;
}

header nav .logo_ul li a:hover {
    color: #fff;
    opacity: 0.7;
}

header nav .search_user {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav .search_user input {
    padding: 3px 10px;
    border: none;
    border-radius: 20px;
    outline: none;
    background: rgb(255, 255, 255, 0.3);
    margin-right: 50px;
    color: white;
}

header nav .search_user input::placeholder {
    color: white;
}

header nav .search_user img {
    width: 70px;
    margin-left: -40px;
    border-radius: 50%;
}

header nav .search_user .search {
    position: absolute;
    width: 285px;
    height: 235px;
    right: 0;
    top: 50px;
    z-index: 99999;
    border-radius: 10px;
    overflow-y: auto;
    visibility: hidden;
}

header nav .search_user .search::-webkit-scrollbar {
    width: 5px;
    background: rgb(255, 255, 255, 0.3);
    border-radius: 5px;
    visibility: hidden;
}

header nav .search_user .search::-webkit-scrollbar-thumb {
    width: 5px;
    background: rgb(255, 255, 255, 0.4);
    border-radius: 5px;
    visibility: hidden;
}

header nav .search_user .search:hover::-webkit-scrollbar {
    visibility: visible;
}

header nav .search_user .search:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

header nav .search_user .search .card {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 5px 0px;
    text-decoration: none;
}

header nav .search_user .search .card::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    z-index: -1;
}

header nav .search_user .search .card img {
    width: 28px;
    height: 90%;
    border-radius: 2px;
    margin-left: 2px;
}

header nav .search_user .search .card .cont {
    margin-left: 5px;
    color: #fff;
}

header nav .search_user .search .card .cont h3 {
    font-size: 15px;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 250px;
}

header nav .search_user .search .card .cont p {
    font-size: 10px;
    color: rgb(255, 255, 255, 0.8);
}

header nav .search_user .search .card .cont span {
    background: yellow;
    color: #000;
    padding: 0px 3px;
    margin: 0px 5px 0px 10px;
    font-weight: 500;
}

header .content {
    position: relative;
    color: #fff;
    margin-top: 16px;
    padding-left: 57px;
}

header .content h1 {
    font-size: 40px;
}

header .content p {
    font-size: 10px;
    word-break: break-all;
    width: 250px;
}

header .content .details {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

header .content .details h6 {
    color: rgb(255, 255, 255, 0.8);
    font-size: 10px;
    margin-right: 10px;
}

header .content .details h5 {
    color: rgb(142, 230, 48);
    font-size: 10px;
    margin-right: 10px;
}

header .content .details h4 {
    color: #fff;
    font-size: 10px;
    margin-right: 10px;
}

header .content .details h3 {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

header .content .details h3 span {
    background: yellow;
    color: #000;
    padding: 0px 3px;
    margin: 0px 5px 0px 10px;
    font-weight: 500;
}

header .content .details h3 i {
    margin-right: 5px;
}

header .content .btns {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

header .content .btns a {
    padding: 8px 12px;
    font-size: 15px;
    font-weight: 600;
    background: linear-gradient(90deg, #00bdff, #0079ff);
    border-radius: 5px;
    color: white;
    margin-left: 10px;
    text-decoration: none;
    animation: button 1s linear infinite;
}

@keyframes button {
    0% {
        background: linear-gradient(0deg, #00bdff, #0079ff);
    }

    12% {
        background: linear-gradient(45deg, #00bdff, #0079ff);
    }

    24% {
        background: linear-gradient(95deg, #00bdff, #0079ff);
    }

    36% {
        background: linear-gradient(145deg, #00bdff, #0079ff);
    }

    48% {
        background: linear-gradient(195deg, #00bdff, #0079ff);
    }

    60% {
        background: linear-gradient(245deg, #00bdff, #0079ff);
    }

    72% {
        background: linear-gradient(295deg, #00bdff, #0079ff);
    }

    100% {
        background: linear-gradient(360deg, #00bdff, #0079ff);
    }
}

header section {
    position: absolute;
    width: 100%;
    height: auto;
    padding: 0px 50px;
    bottom: 20px;
    color: #fff;
    margin-bottom: -18px;
}

header section .cards {
    position: relative;
    width: 100%;
    height: 200px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    scroll-behavior: smooth;
}

header section .cards::-webkit-scrollbar {
    display: none;
}

header section .cards .card {
    position: relative;
    min-width: 130px;
    height: 180px;
    border-radius: 8px;
    margin-right: 10px;
    background: #000;
    transition: 0.3s linear;
}

header section .cards .card:hover {
    min-width: 300px;
    overflow: hidden;
}

header section .cards .card .poster {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    position: relative;
}

header section .cards .card .rest_card {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 8px;
    left: 0;
    top: 0;
    z-index: 999999;
    opacity: 0;
    transition: 1s linear;
}

header section .cards .card .rest_card img {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    z-index: -1;
}

header section .cards .card .rest_card::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, transparent, #000);
    left: 0;
    bottom: 0;
    z-index: -1;
}

header section .cards .card .rest_card .cont {
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 0;
    color: white;
    padding: 0px 20px;
}

header section .cards .card .rest_card .cont .sub {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header section .cards .card .rest_card .cont .sub p {
    font-size: 12px;
    font-weight: 400;
    color: rgb(255, 255, 255, 0.7);
}

header section .cards .card .rest_card .cont .sub h3 {
    color: #fff;
    align-items: center;
    display: flex;
    font-size: 12px;
}

header section .cards .card .rest_card .cont .sub h3 span {
    background: yellow;
    border-radius: 2px;
    color: #000;
    padding: 0px 3px;
    margin: 0px 5px 0px 10px;
    font-weight: 500;
}

header section .cards .card .rest_card .cont .sub h3 i {
    margin-right: 3px;
}

header section .cards .card:hover .rest_card {
    opacity: 1;
}

header section .bi-chevron-left,
.bi-chevron-right {
    position: absolute;
    top: 50%;
    left: 3%;
    width: 25px;
    height: 25px;
    background: rgb(255, 255, 255, 0.3);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 12px;
    cursor: pointer;
    transition: 0.3s linear;
    z-index: 999999999;
    opacity: 0;
}

header section .bi-chevron-right {
    left: unset;
    right: 3%;
}

header section:hover .bi-chevron-right {
    opacity: 1;
}

header section:hover .bi-chevron-left {
    opacity: 1;
}

@media screen and (max-width: 1343px) {
    header video {
        position: absolute;
        width: 200%;
        height: 180%;

        z-index: -1;
    }
}